<extend name="template/base_index" />


<block name="area_header">

</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			<div class="table-responsive well">
				
				<ul class="list-unstyled clearfix text-center nav-tip">
					<li>
						<a class="" href="{:U('Jjy/RemittanceRecord/needcheck')}"><i class="fa fa-edit fa-3x i-fa-circle"></i><br/><span>待审核</span><br/><span class="badge">{$needCheckCnt|default=0}</span></a>
					</li>
					<li>
						<a class="" href="{:U('Jjy/Member/index')}"><i class="fa fa-user fa-3x i-fa-circle"></i><br/><span>总用户数</span><br/><span class="badge">{$userCnt|default=0}</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

</block>