<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{$seo['title']|default='k2868.com'}</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" >
		<meta name="renderer" content="webkit"> 
		<link type="text/css" rel="stylesheet" href="__CDN__/bootstrap/3.3.0/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="__CDN__/fontawesome/4.2.0/css/font-awesome.min.css" />
		
		<link type="text/css" rel="stylesheet" href="__CDN__/theme/superhero.min.css" />
		<!--<link type="text/css" rel="stylesheet" href="__CDN__/theme/slate.min.css" />-->
		<!--<link type="text/css" rel="stylesheet" href="__CDN__/theme/united.min.css" />-->
		<!--<link type="text/css" rel="stylesheet" href="__CDN__/theme/yeti.min.css" />-->
		<!--<link type="text/css" rel="stylesheet" href="__CDN__/theme/flatly.min.css" />-->
		<!--<link type="text/css" rel="stylesheet" href="__CDN__/theme/cosmo.min.css" />-->
		
		<!--[if lte IE 9]>
		<link type="text/css" rel="stylesheet" href="__CDN__/bootstrap/ie7/bootstrap-ie7.css" />
		<![endif]-->
		<script type="text/javascript" src="__CDN__/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="__CDN__/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<!-- nprogress plugin -->
		<link rel="stylesheet" type="text/css" href="__CDN__/nprogress/nprogress.css" />
		<script type="text/javascript" src="__CDN__/nprogress/nprogress.js"></script>
		<!-- scojs plugin -->
		<link rel="stylesheet" type="text/css" href="__CDN__/sco1.0.2-8/css/scojs.css" />
		<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.modal.js"></script>
		<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.message.js"></script>
		<script type="text/javascript" src="__JS__/home/common.js"></script>
		<script type="text/javascript" src="__JS__/home/login.js"></script>
		<link rel="stylesheet" type="text/css" href="__CSS__/home/index.css" />

		<!--[if lte IE 9]>
		<script type="text/javascript" src="__CDN__/respond/1.4.2/respond.min.js"></script>
		<script type="text/javascript" src="__CDN__/html5shiv/3.7.2/html5shiv.min.js"></script>
		<![endif]-->
		<block name="area_header">
		
		</block>
	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，不能流畅体验本网站。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！<i class="fa fa-lg fa-times" style="position:absolute;right:30px;padding-top: 5px;cursor:pointer;" title="关闭提示" onclick="$('.browsehappy').hide()">关闭</i></p>
<![endif]-->

		<block name="area_body"></block>
		<block name="area_footer"></block>
	</body>

</html>