<assign name="active" value="[active]" />
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">k2868.com</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li  <eq name="active" value="0">class="active"</eq> ><a href="{:U('Jjy/Home/index')}">首页</a></li>-->
        <li  <eq name="active" value="1">class="active"</eq> ><a href="{:U('Jjy/Home/manualdeposit')}">手工汇款</a></li>
        <li  <eq name="active" value="2">class="active"</eq> ><a href="{:U('Jjy/Home/speeddeposit')}">工行速汇</a></li>
        <li  <eq name="active" value="3">class="active"</eq> ><a href="javascript:myUtils.TODO();">在线汇款</a></li>
        <li  ><a href="{:U('Jjy/Public/logout')}">安全退出</a></li>
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>