<extend name="template/home_index" />
<block name="area_header">
	<style type="text/css">
		/*body{
			background: rgb(224, 208, 148);
		}
		.body-content
		{
			background: rgb(224, 208, 148);
		}
		#loginform_loginname{
			background: rgb(250, 255, 189);
			box-shadow: inset 0px 0px 0px 0px;
			border: 1px solid #C2CD27;
			color: #999999;
			border-left: 0px;
			border-right: 0px;
		}
		.login .input-group-addon{
			border: 1px solid #C2CD27;
			color: #F2EEEE;
			background: rgb(224, 208, 148);
		}*/
	</style>
</block>
<block name="area_body">
	<div class="header">
		
	</div>
	
	<div class="body-content clearfix">
		<div class="login clearfix">
			<include file="partial_login_panel" />
		</div>
	</div>
	<include file="footer_nav" /> {__NORUNTIME__}
</block>
<block name="area_footer">
</block>