<extend name="template/home_index" />

<block name="area_header">
	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<style type="text/css">
		.sdpaydemo{
			padding: 10px;
			margin-left: 0px;
			margin-bottom: 10px;
		}
		.sdpaydemo a{
			margin-left: 20px;
			margin-right: 25px;
		}
	
	
	</style>	
</block>
<block name="area_body">
	<div class="body-content clearfix">
		<include file="header_nav" active="2" />

		<div class="row col-lg-12 col-md-12 help-block">您好,此界面仅供您查询收款账号及存款成功后提交详细存款信息供审核人员查询及确认,并不具备转账及扣款功能.如您未进行或未完成存款操作请不要随意提交存款信息.感谢配合.</div>

		
	<div class="main-content-holder clearfix">
			<div class="btn-toolbar sdpaydemo" role="toolbar">
				<div class="btn-group ">
					<a class="btn btn-info" href="__PUBLIC__/html/sdpaydemoa1.html" target="_search">
						工行速汇支付流程
					</a>
					<a class="btn btn-info" href="__PUBLIC__/html/sdpaydemoa2.html" target="_search">
						建行速汇支付流程
					</a>
					<a  class="btn btn-info" href="__PUBLIC__/html/sdpaydemoa3.html" target="_search">
						招行速汇支付流程
					</a>
					<a class="btn btn-info" href="__PUBLIC__/html/sdpaydemoall.html" target="_search">
						跨行速汇支付流程
					</a>
					
				</div>
			</div>
			<div class="table-responsive well">
				<form class="form-horizontal"  method="post" action="{:U('Jjy/Home/payment')}">
					<fieldset>
						<legend class="h5">
							请详细填写以下表格，带* 项目为必填项目
						</legend>
						<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">用户账号</label>
							<div class="col-lg-8 col-md-8">
								<label class="control-label">{$user}</label>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">*金额</label>
							<div class="col-lg-4 col-md-4">
    <div class="input-group">
								<input name="money" class="form-control"  />
      <div class="input-group-addon">RMB</div>
     </div>
							</div>
							<div class="col-lg-4 col-md-4">
								<span class="help-block">最小充值金额为 100人民币</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">*存款人真实姓名</label>
							<div class="col-lg-4 col-md-4">
								<input name="account_name" class="form-control" value="{$user}" />
							</div>
							<div class="col-lg-4 col-md-4">
								<span class="help-block">请正确填写存款人真实姓名,否则会导致充值不成功</span>
							</div>
						</div>
						<!--<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">预留信息</label>
							<div class="col-lg-4 col-md-4">
								<label class="control-label bg-primary remark">{$user.remark}</label>
							</div>
							<div class="col-lg-4 col-md-4">
								<span class="help-block">请您仔细核对预留信息是否正确，如与您实际预留信息不符，请您立即暂停操作并联系客服。</span>
							</div>


						</div>-->
						<hr>

						<!--<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">选择支付方式</label>
							<div class="col-lg-8 col-md-8">
								<div class="radio">
									<label>
										<input name="paytype" value="1" type="radio" checked="checked">支付方式一 (开启)
									</label>
								</div>
							</div>
						</div>-->

						<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">请选择收款银行</label>
							<div class="col-lg-8 col-md-8">
								<div class="radio ">
									<label>
										
										<input name="bankaccountid" value="{$bankaccount.id}" type="radio" checked="checked" onclick="canUse(this);">{:getBankNameBy($bankaccount['bank_type'])}(开启)
									</label>
								</div>
								<div class="radio">
									<label>
										
										<input name="bankaccountid" value="" type="radio"  onclick="canUse(this);">{:getBankNameBy(1)}(关闭)
									</label>
								</div>
								<div class="radio">
									<label>										
										<input name="bankaccountid" value="" type="radio" onclick="canUse(this);">{:getBankNameBy(2)}(关闭)
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-4 col-md-4">&nbsp;</label>
							<div class="col-lg-8 col-md-8">
								<button type="submit" id="btn_submit" class="btn btn-primary" >提交</button>
							
							</div>

						</div>
					</fieldset>
				</form>

			</div>

		</div>
	

	</div>
	<include file="footer_nav" /> {__NORUNTIME__}
</block>
<block name="area_footer">
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="__CDN__/zeroclipboard/2.0.0/ZeroClipboard.min.js"></script>
	<![endif]-->
	<!--[if !IE]><!-->
	<script type="text/javascript" src="__CDN__/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
	<!--<![endif]-->
	<script type="text/javascript">
	function canUse(ele){
		if(ele.value){
			
		}else{
			alert("当前收款银行暂时未开启,请换一个开启的收款银行！");
			$("input[name='bankaccountid']").first().prop("checked","checked");
//			$.scojs_message("抱歉暂时未开通此银行接口，请换一个！", $.scojs_message.TYPE_ERROR);
		}
	}
		$(function() {
			
			
			
			//获取账号
			$("#banktype").change(function() {
				$.ajax({
					url: "{:U('Jjy/BankAccount/getAccounts')}",
					type: "POST",
					dataType: "json",
					data: {
						'banktype': $("#banktype").val()
					}
				}).done(function(data) {
					//console.log(data);
					if (data.status) {

						if (data.info && data.info.length > 0) {
							$("#account").text(data.info[0].account);
							$("#accountname").text(data.info[0].account_name);
							$("#bankaddress").text(data.info[0].bank_name);
							$("#accountcopy").attr("data-clipboard-text", data.info[0].account);
							$("#accountnamecopy").attr("data-clipboard-text", data.info[0].account_name);
							$("#bankaddresscopy").attr("data-clipboard-text", data.info[0].bank_name);
							return;
						} else {
							$.scojs_message("抱歉暂时未开通此银行接口，请换一个！", $.scojs_message.TYPE_ERROR);
						}
					} else {
						$.scojs_message(data.info, $.scojs_message.TYPE_ERROR);
					}

					$("#account").text("请重新选择银行类别");
					$("#accountname").text("请重新选择银行类别");
					$("#bankaddress").text("请重新选择银行类别");
					$("#accountcopy").attr("data-clipboard-text", "");
					$("#accountnamecopy").attr("data-clipboard-text", "");
					$("#bankaddresscopy").attr("data-clipboard-text", "");

				}).fail(function() {
					$.scojs_message("网络错误，请重试！", $.scojs_message.TYPE_ERROR);
				});
			});

			//获取账号
			$("#banktype2").change(function() {

				$.ajax({
					url: "{:U('Jjy/BankAccount/getAccounts')}",
					type: "POST",
					dataType: "json",
					data: {
						'banktype': $("#banktype2").val()
					}
				}).done(function(data) {
					console.log(data);
					if (data.status) {

						if (data.info && data.info.length > 0) {
							$("#account2").text(data.info[0].account);
							$("#accountname2").text(data.info[0].account_name);
							$("#bankaddress2").text(data.info[0].bank_name);
							$("#accountcopy2").attr("data-clipboard-text", data.info[0].account);
							$("#accountnamecopy2").attr("data-clipboard-text", data.info[0].account_name);
							$("#bankaddresscopy2").attr("data-clipboard-text", data.info[0].bank_name);
							$("#deposit_username").val(data.info[0].account_name);
							$("#deposit_bank_address").val(data.info[0].bank_name);
							$("#deposit_bank_account").val(data.info[0].account);
							$("#homepage").attr("href", data.info[0].bank_url).text(data.info[0].bank_url);;
							return;
						} else {
							$.scojs_message("抱歉暂时未开通此银行接口，请换一个！", $.scojs_message.TYPE_ERROR);
						}
					} else {
						$.scojs_message(data.info, $.scojs_message.TYPE_ERROR);
					}

					$("#deposit_username").val("");
					$("#deposit_bank_address").val("");
					$("#deposit_bank_account").val("");
					$("#account2").text("请重新选择银行类别");
					$("#accountname2").text("请重新选择银行类别");
					$("#bankaddress2").text("请重新选择银行类别");
					$("#accountcopy2").attr("data-clipboard-text", "");
					$("#accountnamecopy2").attr("data-clipboard-text", "");
					$("#bankaddresscopy2").attr("data-clipboard-text", "");
				}).fail(function() {
					$.scojs_message("网络错误，请重试！", $.scojs_message.TYPE_ERROR);
				});
			});

			$('#transaction_date').datetimepicker({
				format: 'Y-m-d H:i:s',
				lang: 'ch',
				step: 1
			});

			$(".depostForm").validate({
				errorPlacement: function(error, element) {
					$(".checked", element.parent()).remove();
					error.appendTo(element.parent());
				},
				success: function(label) {
					label.removeClass("error").addClass("checked").text("Ok!");
				},
				//					submitHandler: function(form) 
				//					   {      
				//					      $(form).ajaxSubmit();     
				//					   }  ,
				rules: {
					bankaccountid:{
						required: true,
					},
					money: {
						required: true,
						number: true,
						min: 100,
					},
					transaction_date: {
						required: true,
						date: true,
					},
					username: {
						required: true,
					},
					remark: {
						required: true,
					}
				},
				messages: {
					
					bankaccountid: {
						required: "请选择收款银行",
					},
					remark: {
						required: "请输入备注信息",
					},
					username: {
						required: "请输入汇款人姓名",
					},
					transaction_date: {
						required: "请输入汇款时间",
						date: "时间格式不正确",
					},
					money: {
						required: "请输入汇款金额",
					},
					

				}
			}); //end validate

		});
	</script>


	<script type="text/javascript">
		$(function() {
			var client = new ZeroClipboard($(".copybutton"));

			client.on("ready", function(readyEvent) {

				client.on("aftercopy", function(event) {
					var text = event.data['text/plain'];
					if (!text) {
						alert("复制失败！");
					} else {
						alert("复制成功！");
					}
				});
			});
		});
	</script>

	{__NORUNTIME__}

</block>