<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			
		</style>
	</head>
	<body class="bg">
		<img src="__IMG__/login-bg.jpg" style="width:960px;height:100%;position:fixed;margin: 0px;padding: 0px;z-index: -1;" />
		<form action="{:U('Jjy/Public/register')}" method="post" style="background:#008CBA">
			登录账号<input name="username" value="ddetew" />			
			昵称<input name="nickname" value="蛋疼" />				
			登录密码<input name="password" value="123123" />			
			登录密码<input name="idnumber" value="123123" />				
			登录密码<input name="repassword" value="123123" />			
			真实姓名<input name="realname" value="蛋疼" />				
			手机号码<input name="mobile" value="13484379290" />			
			邮箱 <input name="email" value="1253@qq.com" />
			组织机构<input name="orgcode" value="123213" />		
			<button type="submit" >提交注册</button>
		</form>
		
	</body>
</html>
